.arrow{
    position:"absolute";
    color:"white";
    top:"50%";
    z-index: 2;
    font-weight:"bold";
    font-size:"30px";
}

.arrows-left{
    left:20;
}

.arrows-right{
    right:20;
}

.arrows:hover{
    cursor: pointer;
}